<div class="footer container">
  <div>
    <section>
      <img
        ngSrc="/assets/NewKindred Logo SVG  1.png"
        alt="NewKindred Logo"
        width="250"
        height="80"
      />
      <p>
        We partner with businesses to build great brands, develop great
        products, create stories for themselves, and shape their brand
        experiences
      </p>
    </section>
    <section class="contact">
      <a routerLink="" routerLinkActive="active">Home</a>
      <a routerLink="/#service" routerLinkActive="active">Service</a>
      <a routerLink="" routerLinkActive="active">Work</a>
      <a routerLink="/#about" routerLinkActive="active">About Us</a>
      <a routerLink="" routerLinkActive="active">Blog</a>
      <a routerLink="" routerLinkActive="active">Career</a>
    </section>
    <section>
      <p>
        Get valuable insights, reports and strategy <br />
        straight to your inbox
      </p>
      <div class="email">
        <input type="email" placeholder="Enter email" />
        <img
          class="arrow"
          ngSrc="/assets/icon.png"
          alt="right arrow"
          height="30"
          width="30"
        />
      </div>
    </section>
  </div>
  <hr />
  <section class="copyright">
    <p>&copy;2024 NewKindred. All Rights Reserved.</p>
    <p>Our privacy policy</p>
  </section>
</div>
