<div class="contact container">
  <div>
    <section>
      <div>
        <h1 id="contactheading">
          Creating immersive <br />
          experiences
        </h1>
      </div>
    </section>
    <section>
      <p>
        We believe that brands are more than just products; <br />
        they're stories waiting to be told
      </p>
      <div class="btn">
        <button>
          Let’s talk
          <img
            ngSrc="/assets/icon.png"
            alt="right arrow"
            height="30"
            width="30"
          />
        </button>
      </div>
    </section>
  </div>
  <section class="socials">
    <a href=""
      >Twitter (X)
      <img
        ngSrc="/assets/icon-2.png"
        alt="right up arrow"
        height="15"
        width="15"
    /></a>
    <a href="">
      Facebook
      <img
        ngSrc="/assets/icon-2.png"
        alt="right up arrow"
        height="15"
        width="15"
    /></a>
    <a href=""
      >Instagram
      <img
        ngSrc="/assets/icon-2.png"
        alt="right up arrow"
        height="15"
        width="15"
    /></a>
    <a href=""
      >Linkedln
      <img
        ngSrc="/assets/icon-2.png"
        alt="right up arrow"
        height="15"
        width="15"
    /></a>
    <a href=""
      >Youtube
      <img
        ngSrc="/assets/icon-2.png"
        alt="right up arrow"
        height="15"
        width="15"
    /></a>
    <a href=""
      >Hello&#64;newkindred.com
      <img
        ngSrc="/assets/icon-2.png"
        alt="right up arrow"
        height="15"
        width="15"
    /></a>
  </section>
</div>
