<div class="service container">
  <div class="part one">
    <section>
      <h2>Our Services</h2>
      <p>
        We partner with clients to develop memorable brands <br />
        that create connection and inspire change
      </p>
    </section>
    <button class="btn_more">
      View more
      <img ngSrc="/assets/icon.png" alt="right arrow" height="30" width="30" />
    </button>
  </div>
  <div class="part">
    <section>
      <h3>
        <img ngSrc="/assets/Vector.png" alt="vector" height="30" width="30" />
        strategy
      </h3>
      <p>
        Developing data-driven strategies to position <br />your brand for
        success
      </p>
      <div>
        <a href="">View our sub-services</a>
        <img
          ngSrc="/assets/icon-3.png"
          alt="right up arrow"
          height="10"
          width="10"
        />
      </div>
    </section>
    <img ngSrc="/assets/Line 6.png" alt="line" height="20" width="90" />
    <section class="branding">
      <h3>
        <img ngSrc="/assets/Vector.png" alt="vector" height="30" width="30" />
        Branding
      </h3>
      <p>
        Creating your brand’s identity to stand out <br />
        and connect with audiences
      </p>
      <div>
        <a href="">View our sub-services </a>
        <img
          ngSrc="/assets/icon-3.png"
          alt="right up arrow"
          height="10"
          width="10"
        />
      </div>
    </section>
  </div>
  <button class="btn_more2">
    View more
    <img ngSrc="/assets/icon.png" alt="right arrow" height="30" width="30" />
  </button>
</div>
