<div class="feature container">
  <div class="part one">
    <section>
      <h2>Featured Work</h2>
      <p>
        We believe that brands are more than just products; <br />
        they're stories waiting to be told
      </p>
    </section>
    <button class="workbtn">
      Our Works
      <img ngSrc="/assets/icon.png" alt="right arrow" height="30" width="30" />
    </button>
  </div>
  <img
    class="new_kindred"
    ngSrc="/assets/NEW-KINDRED-112 (1) 2.png"
    alt="NEW-KINDRED"
    width="1536"
    height="951"
  />
  <div class="part">
    <section class="feature_footer">
      <div>
        <h4>Newkindred</h4>
        <p>Nigeria</p>
      </div>
      <span>(Creative & branding)</span>
    </section>
    <section class="btn">
      <button class="one">Web design</button>
      <button class="two-2">Branding</button>
    </section>
  </div>
  <button class="workbtn2">
    Our Works
    <img ngSrc="/assets/icon.png" alt="right arrow" height="30" width="30" />
  </button>
</div>
