<div class="hero container">
  <h1>Shaping Brand Experiences Through Storytelling</h1>
  <div class="hero_about">
    <p>
      We innovate. We reimagine. We create and we push beyond the limits of
      storytelling to create immersive experiences that ignite passion and
      transform brands and organisations into icons.
    </p>
    <button>
      Let’s talk
      <img ngSrc="/assets/icon.png" alt="right arrow" height="30" width="30" />
    </button>
  </div>

  <div class="animation_wrapper">
    <div class="animation">
      <img ngSrc="/assets/Star 4.png" alt="pink star" height="50" width="50" />
      <span>Strategy</span>
      <img
        ngSrc="/assets/Star 3.png"
        alt="light blue star"
        height="50"
        width="50"
      />
      <span>Branding</span>

      <img
        ngSrc="/assets/Star 5.png"
        alt="pastel yellow star"
        height="50"
        width="50"
      />
      <span>development</span>
    </div>
    <div class="animation">
      <img ngSrc="/assets/Star 4.png" alt="pink star" height="50" width="50" />

      <span>Strategy</span>

      <img
        ngSrc="/assets/Star 3.png"
        alt="light blue star"
        height="50"
        width="50"
      />

      <span>Branding</span>

      <img
        ngSrc="/assets/Star 5.png"
        alt="pastel yellow star"
        height="50"
        width="50"
      />

      <span>development</span>
    </div>
  </div>
</div>
